body {
    font-family: 'Indie Flower', sans-serif !important;
    padding: 100px 75px 75px;
}
.navbar {
    background: #696969;
    font-weight: bold;
    font-size: 35pt;
    color: white;
}
p {
    font-family: 'Oswald', sans-serif !important;
    font-size: 20pt;

}
.card-title {
    margin: 0px 16px 0px;
    font-size: 23pt;
    font-weight: bold;
}
.card-text {
    font-size: 17pt;
}
.card {
    margin: 20px 90px 0px 70px;
    padding: 0px 15px 0px;
}
.row {
    padding: 0px 45px 0px;
}
.footer {
    font-size: 16pt;
    padding: 10px 70px 10px;
    background: #696969;
}